@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
body {
  background: #fff;
}
.page_404 {
  font-family: 'Raleway', sans-serif;
  padding: 40px 0;
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  margin-top: 20vh;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}
a.link_404  {
  text-decoration: none;
}
.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #363636;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
