<%- include("partials/header.ejs")%>




<div class="row">
    <div class="col-sm-12">
        <header class="jumbotron">
            <h1>Welcome to BanglaCamp</h1>
            <p>
                View our best campgrounds listing from all over the Bangladesh
            </p>
            <p>
                <a href="/campgrounds/new" class="btn btn-primary">Add a new camp</a>
            </p>
        </header>
    </div>
</div>
<div class="row text-center">
  <div class="col-sm-6 col-md-3">
    campgrounds will go here
    <div class="thumbnail">
      <img src="https://images.unsplash.com/photo-1589481470609-8870148f4889?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
      <div class="caption">
        <h4>Name will go here</h4>
      </div>
    </div>
  </div>
</div>



<%- include("partials/footer.ejs")%>
