<%- include ('partials/header.ejs')%>

<div class="container">

    <!-- show js errors  -->
    <div class="col-md-offset-4 col-md-4 text-center custom-mgt">
        <div id="error"></div>
    </div>


    <div class="login-container wow animate__animated animate__fadeIn">
        <div class="login-content">
            <form action="/forgot" method="POST" onsubmit="return validateForgot()">
                <img src="/img/forgot.svg">
                <h2 class="title">Forgot Password?</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                        <h5>Email</h5>
                        <input type="email" class="input" id="email" name="email" autocomplete="off">
                    </div>
                </div>

                <input type="submit" class="btn" value="Reset Password">
            </form>
        </div>
    </div>
</div>





<!-- <div class="row">
    <div class="col-md-12">
      <h1>Forgot Password?</h1>
      <form action="/forgot" method="POST">
        <div class="form-group">
          <input type="email" name="email" id="" class="form-control" placeholder="Enter email address">
        </div>
        <div class="form-group">
          <input type="submit" value="Reset password" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div> -->





<%- include ('partials/footer.ejs')%>
