<%- include ('partials/header.ejs')%>

<form action="/signup" method="POST">
  <div class="form-group">
    <input type="text" name="username" id="" class="form-control" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" name="password" id="" class="form-control" placeholder="Password">
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Signup!</button>
  </div>
  
</form>
<%- include ('partials/footer.ejs')%>